body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.row > * {
    flex: 1;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.buttom {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    height: 100px;
}


button[type="submit"] {
    width: 15%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.mailing-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.mailing-list input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.buttom {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.buttom p {
    font-weight: bold;
    white-space: nowrap;
    
}

.khan{

    margin-right: 100px;
}



table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
